<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asm_android2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asm_android2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".changePassWordThuThu"
            android:exported="false" />
        <activity
            android:name=".addAccountThuthu"
            android:exported="false"
            android:theme="@style/suportActionBar" />
        <activity
            android:name=".loginAccountAdmin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".from_mainAdmin"
            android:exported="false" />
        <activity
            android:name=".selectLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addPhieu"
            android:exported="false"
            android:theme="@style/suportActionBar" />
        <activity
            android:name=".addBook"
            android:exported="false"
            android:theme="@style/suportActionBar" />
        <activity
            android:name=".loginAdmin"
            android:exported="false">
        </activity>
        <activity
            android:name=".from_main"
            android:exported="false"
            android:theme="@style/style_form_main">
        </activity>
        <activity
            android:name=".Sign_up"
            android:exported="false"
            android:theme="@style/style_SignUp" />
        <activity
            android:name=".login_thuthu"
            android:exported="false">
        </activity>
    </application>

</manifest>