<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>checkloginthuthu</servlet-name>
    <servlet-class>processLogin.checkloginthuthu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkloginthuthu</servlet-name>
    <url-pattern>/checkloginthuthu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertCatoloryBook</servlet-name>
    <servlet-class>insertData.insertCatoloryBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertCatoloryBook</servlet-name>
    <url-pattern>/insertCatoloryBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkLoaiSach</display-name>
    <servlet-name>checkLoaiSach</servlet-name>
    <servlet-class>checkInfo.checkLoaiSach</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkLoaiSach</servlet-name>
    <url-pattern>/checkLoaiSach</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertBook</display-name>
    <servlet-name>insertBook</servlet-name>
    <servlet-class>insertData.insertBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertBook</servlet-name>
    <url-pattern>/insertBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertMember</display-name>
    <servlet-name>insertMember</servlet-name>
    <servlet-class>insertData.insertMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertMember</servlet-name>
    <url-pattern>/insertMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertPhieuMuon</display-name>
    <servlet-name>insertPhieuMuon</servlet-name>
    <servlet-class>insertData.insertPhieuMuon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertPhieuMuon</servlet-name>
    <url-pattern>/insertPhieuMuon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePhieumuon</display-name>
    <servlet-name>deletePhieumuon</servlet-name>
    <servlet-class>deleteTable.deletePhieumuon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePhieumuon</servlet-name>
    <url-pattern>/deletePhieumuon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteMember</display-name>
    <servlet-name>deleteMember</servlet-name>
    <servlet-class>deleteTable.deleteMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMember</servlet-name>
    <url-pattern>/deleteMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBook</display-name>
    <servlet-name>deleteBook</servlet-name>
    <servlet-class>deleteTable.deleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBook</servlet-name>
    <url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteLoaiBook</display-name>
    <servlet-name>deleteLoaiBook</servlet-name>
    <servlet-class>deleteTable.deleteLoaiBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteLoaiBook</servlet-name>
    <url-pattern>/deleteLoaiBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePassWordThuThu</display-name>
    <servlet-name>changePassWordThuThu</servlet-name>
    <servlet-class>UpdateTable.changePassWordThuThu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassWordThuThu</servlet-name>
    <url-pattern>/changePassWordThuThu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateTrangThaiPhieu</display-name>
    <servlet-name>updateTrangThaiPhieu</servlet-name>
    <servlet-class>UpdateTable.updateTrangThaiPhieu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTrangThaiPhieu</servlet-name>
    <url-pattern>/updateTrangThaiPhieu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkloginAdmin</display-name>
    <servlet-name>checkloginAdmin</servlet-name>
    <servlet-class>processLogin.checkloginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkloginAdmin</servlet-name>
    <url-pattern>/checkloginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertAccountThuThu</display-name>
    <servlet-name>insertAccountThuThu</servlet-name>
    <servlet-class>insertData.insertAccountThuThu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertAccountThuThu</servlet-name>
    <url-pattern>/insertAccountThuThu</url-pattern>
  </servlet-mapping>
</web-app>